.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.welcome-content {
  padding: 20px;
}

.welcome-content h1 {
  margin-bottom: 10px;
}

.welcome-content h5 {
  margin-bottom: 20px;
}

.welcome-content p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1em;
}
</style>